// course
.course {
  padding-top: 200rem;

  .section_title {
    margin-bottom: 80rem;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 60rem;
    max-width: 600rem;

    &_block {
      display: flex;
      align-items: start;
      gap: 24rem;

      img {
        width: 78rem;
        height: 78rem;
        display: flex;
        flex-shrink: 0;
      }

      h3 {
        margin-bottom: 12rem;
        font-weight: 700;
        font-size: 32rem;
        line-height: 100%;
        text-transform: uppercase;
        color: $color-white;
      }

      p {
        font-family: $font-Inter;
        font-weight: 400;
        font-size: 24rem;
        line-height: 120%;
        color: $color-white;
      }
    }
  }
}
// course
