// hero
.hero {

  .container {
    position: relative;

    @include media('md') {
      padding: 0;
    }
  }

  &_bottom {
    overflow: hidden;
    background: linear-gradient(90deg, #979BA0 0%, #979BA0 20.73%, #B3B6BA 38.63%, #B0B4B8 62.74%, #989CA1 83.52%, #737373 100%);
    border-radius: 70rem;
    padding: 70rem 100rem;
    position: relative;
    max-width: 1890rem;
    margin: 12rem auto 0 auto;

    @include media('md') {
      border-radius: 40rem;
      padding: 32rem 16rem 200rem 16rem;
    }

    p {
      max-width: 1200rem;
      font-family: $font-Onest;
      font-weight: 300;
      font-size: 46rem;
      line-height: 55rem;
      letter-spacing: -4%;
      color: #170101;

      @include media('md') {
        font-size: 24rem;
        line-height: 120%;
        text-align: center;
      }

      span {
        display: inline;
        color: $color-white;
      }
    }

    &_icon {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 555rem;

      @include media('md') {
        min-width: 400rem;
        width: 400rem;
        // height: 328rem;
        transform: rotate(-4deg);
        right: -75rem;
        bottom: -15rem;
      }
    }
  }
}
// hero
